<%= form_with(model: [@character, @task], class: "space-y-4") do |form| %> <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class=" form-field">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "input" %>
  </div>
  <div class="form-field">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: " textarea !max-w-none w-4/5 h-96" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>
