<div class="flex gap-10" id="<%= dom_id character %>">
  <figure class="h-80 aspect-[4/5] block ">
    <img class="h-full w-full rounded-2xl object-cover object-center" src="<%= character.image_src %>" alt="">
  </figure>
  <div class=" pt-10 flex flex-col justify-between">
    <div class="flex flex-col gap-4">
      <h2 class=" text-4xl font-semibold">
        <%= link_to character.name , character_path(character) %>
      </h2>
      <p class=" text-content2">
        <%= character.personality.truncate(1000) %>
      </p>
    </div>
    <div class="flex gap-4 mt-4">
      <%= link_to "Edit this character", edit_character_path(character), class: "btn stop-propagation" %>
      <%= button_to "Destroy this character", @character, method: :delete, class: "btn btn-error stop-propagation" %>
    </div>
  </div>
</div>