<p style="color: green"><%= notice %></p>
<%= render @character %>
<div class="divider"></div>
<div class=" flex flex-col gap-6">
  <div class="flex gap-2 items-end">
    <h2 class="text-3xl font-semibold">
      Recently created tasks
    </h2>
    <%= link_to "All tasks", character_tasks_path(@character), class: "link link-primary link-underline-hover" %>
  </div>
  <div class="grid grid-cols-3 gap-10">
    <%= render @tasks %>
  </div>
</div>
<div class="divider"></div>
<div class=" flex flex-col gap-6">
  <div class="flex gap-2 items-end">
    <h2 class="text-3xl font-semibold">
      Recent results
    </h2>
    <%= link_to "All results", "/", class: "link link-primary link-underline-hover" %>
  </div>
  <div class="grid grid-cols-3 gap-10">
    <%= render @results %>
  </div>
</div>